.DS_Store
Thumbs.db

node_modules/

build/
DerivedData
*.ipa
*.hmap
*.xcuserstate
*.xccheckout
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata
**/.xcode.env.local

.idea
.gradle
.cxx/
.kotlin/
*.iml
*.hprof
*.keystore
!debug.keystore
local.properties

android/.gradle/
android/app/build/
android/build/
android/.idea
android/.cxx/
android/.kotlin/

ios/build/
ios/DerivedData/
ios/Pods/
ios/*.xcworkspace
ios/*.xcodeproj/xcuserdata

npm-debug.log
yarn-error.log
pnpm-debug.log
lerna-debug.log
package-lock.json

.env
.env.*
!.env.example

*.jsbundle

.metro-health-check*
.metro/

coverage/

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

/vendor/bundle/

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
